.page-container {
  background-color: #efefef;
  padding-top: calc(40px + 2rem);
  padding-bottom: 10rem;

  .page-content {
    // background-color: hotpink;
    width: 80%;
    margin: auto;
    height: 100%;
  }
}
