.select-field-group {
  position: relative;
  cursor: pointer;
  width: 100%;

  .select-field-icon {
    position: absolute;
    right: 5%;
    top: 15%;
    color: rgb(#222, 0.2);
    z-index: 1;
    font-size: 1.5rem;
    background-color: white;
  }

  .select-field {
    all: unset;
    background-color: #fff;
    border: solid 1px rgb(#222, 0.2);
    border-radius: 6px;
    width: 83%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    padding-right: 2rem;
    color: #222;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(#222, 0.2);
    position: relative;
    overflow: hidden;
    height: 1.2rem;

    &:focus {
      border: solid #84dcc6 1px;
    }

    &:focus ~ .select-field-icon {
      color: #84dcc6;
    }
  }
}
